!!!
%head
  %meta{'charset' => 'utf-8'}/
  %title=title
  %meta{'name' => 'description', 'content' => ''}/
  %meta{'name' => 'author', 'content' => ''}/
  %meta{'name' => 'viewport', 'content' => 'width=device-width,initial-scale=1'}/

  %link{'rel'=>"stylesheet", 'href'=>"//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"}/

  %link{'rel'=>"stylesheet", 'href'=>"//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css"}/

  %link{'rel' => 'stylesheet', 'href' => '/css/jquery.Jcrop.min.css'}/
  -# %link{'rel' => 'stylesheet', 'href' => '/public/css/style.css'}/

%body
  %div#container
    %header
    %div#main
      = yield
    %footer

%script{'src' => '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'}
%script{'src' => "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
%script{'src' => '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'}
%script{'src' => '/js/jquery.Jcrop.min.js'}
%script{'src' => '/js/app.js'}
